{% include "pages/navbar.html" %}
<div class="container">
    <div class="row">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for i in data %}
                {% if i == data.0 %}
                <div class="carousel-item active" data-bs-interval="1000000">
                    {% else %}
                    <div class="carousel-item" data-bs-interval="1000000">
                        {% endif %}
                        <img src={{i}} class="d-block slideshowpicture" alt="...">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="carousel-indicators-div" id="carouselIndicators">
            <div class="carousel-indicators indicators">
                {% for i in data %}
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to={{forloop.counter0}}
                        class="imgBtns"
                        aria-current="true" aria-label="Slide 1">
                    <img src={{i}} class="d-block tinyImg" alt="..." onclick="scrollerington()">
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<p id="p1"></p>
<p id="p2"></p>

{% load static %}
<script src="../../static/script.js">

</script>
<script>
$(document).ready(function(){
        var c = "{{count}}";
        var w = c * 85;
        if(w > $(".row").width()) {
            w = $(".row").width();
        }
        $("#carouselIndicators").width(w);
});
</script>

