.slideshowpicture {
    object-fit: cover;
    width: 80%;
    margin: auto;
}

#carouselExampleDark {
    width: 80%;
    margin: auto;
}

.imgBtns {
    width: 5rem !important;
    margin: 0 4rem 0 4rem;
    border: none;
    background: none;
}

.tinyImg {
    width: 5rem;

    object-fit: cover;
}

.nav-item {
    margin:auto;
}

.indicators {
    margin: 0 !important;
}

.navbar {
    background: aliceblue !important;
}

.carousel-indicators-div {
    display: block;
    height: 80px;
    max-width: 80% !important;
    margin: auto;
    overflow-x: scroll;
    background: aliceblue;
}

.carousel-indicators {
    position: relative !important;
}

.carousel-indicators [data-bs-target] {
    opacity: .75 !important;
}

.header {
    text-align: center;
    margin: auto;
    padding: 1rem;
    font-family: OCR A Std, monospace;
}

.contact-card {
    width: 20rem;
    margin: auto;
}

.contact-container {
    margin: auto;
}